# dependencies
node_modules/
.pnpm-store/

# builds
dist/
build/
.out/
.next/
.turbo/
coverage/
storybook-static/

# env
.env
.env.*
!.env.example

# logs
*.log

# OS/editor
.DS_Store
.vscode/
.idea/

# misc
*.swp
